*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: 'Merriweather';
    margin: 5px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}



.grid-calen{
    display: grid;
    grid-template-columns: 3fr repeat(12 , 1fr);
    grid-template-rows: repeat(30, 25px);
    margin: 20px;
    align-items: center;
    gap: 2px;
}


@media (max-width:480px)  {
    .grid-calen{
        display: grid;
        grid-template-columns: repeat(13 , 1fr);
        grid-template-rows: repeat(30, 1.5rem);
        margin: 5px;
        gap: 1px;  
    }
    
    .completo-calen{
        display: none;
    }

    .deporte-calen{
        font-size: 9px;
        padding-left: 0px;
        padding-top: 6px;
        margin-right: 10px;   
    }
    
    .dia-calen, .num-calen{
        font-size: 10px;
        text-align: center;
    }
    .ct-calen{
        font-size: 12px;
    }
    .titulo-card-calen{
        color: #831f6a;
    }
    .lista-card-calen{
        font-size: 12px; 
    }
}
/* CALENDARIO */
@media (max-width:480px) {
    .iframe-calen{
        width: 96vw;
    }
}
@media (max-width:1200px) {
    .iframe-calen{
        width: 96vw;
    }
}
.iframe-contenedor{
    display: flex;
    justify-content: center;
}
.container-calen{
    width: 100vw;
}

.lista-card-calen{
    list-style: none;
    text-align: center;
    padding-left: 0px;
}
.card-box-calen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-calen{
    font-size: 27px;
    background-color: white;
    border-radius: 15px; 
    color: #831f6a;
}
.img-calen{
    height: 3rem;
    width: 3rem;
    margin-bottom: 10px;

}

.deporte-calen{
    color: #831f6a;
    text-transform: uppercase;
    
    font-size: 12px;
}
 

.dia-calen{
    color: #831f6a;
    text-align: center;
}
.num-calen{
    text-align: center;
    color: #831f6a;
    font-weight: bold;
}
.rojo-calen{
    color: #e5005b;
}
.gris-calen{
    min-height: 1.5rem;
    background-color: #ededed;
}
.gris-claro-calen{
    min-height: 1.5rem;
    background-color: #fafafa;
}
.muni-calen{
    min-height: 1.5rem;
    background-color: #35b6b4;
}
.newells-calen{
    min-height: 1.5rem;
    background-color: #1877bd;
}
.rural-calen{
    min-height: 1.5rem;
    background-color: #e5005b;
}
.paseo-calen{
    min-height: 1.5rem;
    background-color: #91c028;
}
.laguito-calen{
    min-height: 1.5rem;
    background-color: #bd82b7;
}
.provincial-calen{
    min-height: 1.5rem;
    background-color: #d65c14;
}
.hipodromo-calen{
    min-height: 1.5rem;
    background-color: #831f6a;
}

.flex-calen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
}

.ct-calen{
    text-align: center;
    color: #b2b2b2;
    font-weight: bold;
}

.medalla-calen{
    min-height: 1rem;
    background-color: #e8d300;
    border: 1px solid white;
    border-radius: 50%;
    height: 1rem;
    width: 1rem; 
} 
.medalla-no-calen{
    height: 1rem;
    width: 1rem;
}
.caja-calen{
    border-radius: 15%;
}

.boton-calen{
    color: white;
    /* margin-bottom: 5px; */
    /* font-weight: bold; */
    font-size: 20px;
}

.posicion-calen{
    position: absolute;
    right: 200px; 
    /* top: 50px; left: 60px; */
}

.selector-calen{
    display: none;
}

.meses-calen{
    color: #e5005b;
    width: 1.5rem;
    font-size: 10px;
}
.apcl-calen{
    margin-top: 2rem;
    color: #e5005b;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.marcador-calen{
    width: 1rem;
    height: 1rem;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #e5005b;
}
.flex-marcador-calen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hora-card-calen{
    display: none;
}
/* SECCIÓN REFERENCIAS CALENDARIO */
.contenedor-caja-escenario{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(4, 1.5rem);
    row-gap: 5px;
    margin-top: 15px;
    margin-left: 20px;
}
.caja-escenario{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.referencias-calen{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 15px;
    border: 3px solid white;
    margin-left: 5px;
}
.texto-caja-escenario{
    font-size: 14px;
}


/* COLORES 
Verde (Paseo 21)  #91c028
Gris oscuro cuadrado días #ededed
Gris claro cuadrado días #fafafa
Gris letras "ct" #b2b2b2
Rojo letras "AP" "Abril" "Mayo" etc #e5005b
Violeta letras deportes y días # 831f6a
Celeste (Estadio Municipal) #35b6b4
Azul (Newells) #1877bd
Rojo (La Rural) # e5005b
Lila (Laguito) # bd82b7
Naranja (Provincial) # d65c14
Violeta (Hipódromo) #831f6a
Amarillo medallas #e8d300

ULTIMA FILA
position-absolute top-30 start-50
PENULT FILA
<div class="card card-body posicion-calen">

.div-padre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: #c05858;
}
*/
